.tabs-container {
  display: flex;
  margin-top: 16px;
  gap: 24px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #E8E8F4;
  margin: 0;
}

.tab {
  font-size: 1.2rem;
  font-weight: 500;
  color: #66696b;
  cursor: pointer;
  position: relative;
  align-content: center;
}

.tab.active {
  color: #171c8f;
  
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background-color: #171c8f;
}
@media (max-width: 820px) {
  .tab{
    font-size: 1.05rem;
  }
  .tabs-container{
    height: 25px;
  }
}
